body{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    justify-content: center;

}

#main{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 50%;
    background-color: white;
    margin-top: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px;
}
#head{
    padding: 30px;
    text-align: center;

}
#first{
    width: 500px;
    height: 10px;
    padding: 20px;
    text-align: center;
    background-color: aliceblue;
    margin-left: 15%;
    box-shadow: 0px 0px 2px 0px;
}

#second{
    width: 500px;
    height: 10px;
    padding: 20px;
    text-align: center;
    background-color: aliceblue;
    margin: 10px;
    margin-left: 15%;
    box-shadow: 0px 0px 2px 0px;
}

#third{
    margin: 10px;
    width: 500px;
    height: 10px;
    padding: 20px;
    text-align: center;
    background-color: aliceblue;
    margin-left: 15%;
    box-shadow: 0px 0px 2px 0px;
}